@tailwind base;
@tailwind components;
@tailwind utilities;



pre {
  background-color: #1a2638;
  color: white;
  padding: 8px;
  border-radius: 0.5rem;
  overflow: auto;
}

code {
  line-height: 2;
  filter: brightness(0.95);
}
