@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

pre {
  background-color: #1a2638;
  color: white;
  padding: 8px;
  border-radius: 0.5rem;
  overflow: auto;
}

code {
  line-height: 2;
  filter: brightness(0.95);
}

.mantine-198g998 pre {
  background-color: #1a2638;
  color: white;
  padding: 8px;
  border-radius: 0.5rem;
  overflow: auto;
}

.mantine-1coq4co pre code {
  line-height: 2;
  filter: brightness(0.95);
}
